.carouselContainer {
    display: flex;
    overflow-x: auto;

}
.carousel {
    margin: 0.5em;
    width: 100%;
    img {
        width: 200px;
        height: 300px;
        border-radius: 2em;
    }}
.recordContainer {
    text-align: center;
    margin: 2em;
    
   
}
.record {
    margin-top: 3em;
    h1 {
        font-family: Great2;
        font-weight: 400;
    }
    span {
        font-family: Great3;
        padding: 0.6em;
        border-bottom: 1px solid rgba(128, 128, 128, 0.276);
        color: rgba(0, 0, 0, 0.595);
    }
}
@media(min-width:768px) {
    .recordContainer {
        display: flex;
        align-items: start;
        justify-content: space-around;
        }
        .record h1 {
            font-size: 2.9em;
        }
}